.page-wrap
  overflow hidden
  .system-header
    height 62px
    background-color $backgroundColor
  .system-container
    flex 1
    display flex
    .menu-box
      width 120px
      background-color $backgroundColor
      transition 0.3s ease
    .collapsed-sidebar
      width 50px
      transition 0.3s ease
    .c-content-box
      flex 1
