a, blockquote, body, button, caption, dd, div, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, menu, ol, p, pre, select, span, table, td, textarea, th, ul
  margin 0
  padding 0
  box-sizing border-box
  word-break break-all
html
  position relative
  height 100%
  background #ffffff
ol, ul
  list-style none
  -webkit-margin-before 0
  -webkit-margin-after 0
  -webkit-margin-start 0
  -webkit-margin-end 0
  -webkit-padding-start 0
address, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block
  box-sizing border-box
table
  border-collapse collapse
  border-spacing 0
caption, th
  text-align left
  font-weight normal
abbr, body, fieldset, html, iframe, img
  border none
address, cite, dfn, var
  font-style normal
[hidefocus], summary
  outline none
li
  list-style none
a
  color #409eff
a:focus, a:hover
  color #66b1ff
a:active
  color #3a8ee6
h1, h2, h3, h4, h5, h6
  color #606266
  font-weight inherit
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child
  margin-top 0
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child
  margin-bottom 0
.hide-scroll::-webkit-scrollbar
  display none
html
  -webkit-user-select none
  -webkit-touch-callout none
